<div class="search-dropdown" [ngClass]="{'open':shown && list !== undefined,'small':size=='small'}">
    <div class="search-dropdown__btn" (click)="show()">
        <span style="display: inline-block;">
            <img src="/assets/img/location-black.png" class="aco-img"> 
            {{value}}
        </span>
    </div>
    <div class="search-dropdown__dropdown">
        <div class="search-icon">
            <i class="fa fa-search"></i>
        </div>
      <input class="search-dropdown__dropdown__search" type="text" placeholder="Search here" [(ngModel)]="keyword"
        (keyup)="search(keyword)" #input />
      <div class="search-dropdown__dropdown__scroller" *ngIf="list?.length != 0">
        <div class="search-dropdown__dropdown__item" *ngFor="let item of list" (click)="select(item)">
          <div *ngIf="item[_label] == value">
            <p><b>{{item[_label]}}</b></p> 
        </div>
        <div *ngIf="item[_label] !== value">
            <p>{{item[_label]}}</p> 
        </div>
        </div>
      </div>
      <div class="search-dropdown__dropdown__msg" *ngIf="list?.length == 0">
        <div class="ion-text-center">
            <img class="no-data" src="assets/img/no_result_found.svg">  
            <br>
            <ion-text>No result found</ion-text>                
        </div>
    </div>
    </div>    
  </div>